<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Item Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="itemName" placeholder="Enter item name">
      <nz-form-explain *ngIf="validateForm.get('itemName').dirty&&validateForm.get('itemName').errors">
        <ng-container *ngIf="validateForm.get('itemName').hasError('required')">
          Please input item name!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Country</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="country" placeholder="Enter the Country">
      <nz-form-explain *ngIf="validateForm.get('country').dirty&&validateForm.get('country').errors">
        <ng-container *ngIf="validateForm.get('country').hasError('required')">
          Please input the country!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Location</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="location" placeholder="Enter the Location">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea formControlName="description" nz-input rows="2" placeholder="write description of the item"></textarea>
      <nz-form-explain *ngIf="validateForm.get('description').dirty&&validateForm.get('description').hasError('required')">Please write something here!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <hr style="width:70%">
  
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Seller</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-radio-group formControlName="isExist" (click)="validateSellerName()">
        <label nz-radio-button [nzValue]="true">Existing Seller</label>
        <label nz-radio-button [nzValue]="false">Create new Seller</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="validateForm.get('isExist').value">
    <nz-form-label [nzSpan]="7" nzRequired>Seller ID</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="existSellerName" (ngModelChange)="validateSellerName()" (input)="onExistSellerInput($event.target?.value)" [nzAutocomplete]="auto">
      <nz-autocomplete nzBackfill #auto>
          <nz-auto-option *ngFor="let option of existSellerOptions" [nzValue]="option.seller_name">
          {{option.seller_name}}
          </nz-auto-option>
          </nz-autocomplete>
      <nz-form-explain *ngIf="validateForm.get('existSellerName').dirty&&validateForm.get('existSellerName').errors || validateForm.get('existSellerName').pending">
        <ng-container *ngIf="validateForm.get('existSellerName').hasError('required')">
          Please input an existing seller id!
        </ng-container>
        <ng-container *ngIf="validateForm.get('existSellerName').hasError('not_exist')">
          The seller id doesn't exist!
        </ng-container>
        <ng-container *ngIf="validateForm.get('existSellerName').pending">
          Validating...
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!validateForm.get('isExist').value">
    <nz-form-label [nzSpan]="7" nzRequired>New Seller ID</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="newSellerName" placeholder="Enter a new seller id" (ngModelChange)="validateSellerName()">
      <nz-form-explain *ngIf="validateForm.get('newSellerName').dirty && validateForm.get('newSellerName').errors || validateForm.get('newSellerName').pending ">
        <ng-container *ngIf="validateForm.get('newSellerName').hasError('exist')">
          The seller id already exists! Please choose another one
        </ng-container>
        <ng-container *ngIf="validateForm.get('newSellerName').pending">
          Validating...
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!validateForm.get('isExist').value">
    <nz-form-label [nzSpan]="7" nzRequired>New Seller Rating</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <!-- <input nz-input formControlName="newRating" placeholder="Enter the rating" (ngModelChange)="validateSellerName()"> -->
      <nz-input-number nz-input formControlName="newRating" (ngModelChange)="validateSellerName()" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item> 

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>