<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="bidDataSet"
  [nzLoading]="loading"
  [nzTotal]="bidsTotal"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead >
    <tr>
      <th>item</th>
      <th>bidder name</th>
      <th>bid time</th>
      <th>bid price</th>
      <th>bid time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td><a [routerLink]="['//manage/item-list/' + data.item_id]" routerLinkActive="router-link-active">{{data.item_id}}</a></td>
      <td>{{data.bidder_name}}</td>
      <td>{{data.bid_time}}</td>
      <td>{{data.bid_price}}</td>
      <td>{{data.bid_time}}</td>
    </tr>
  </tbody>
</nz-table>