.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.form-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}