<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="auctionDataSet"
  [nzLoading]="loading"
  [nzTotal]="auctionsTotal"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead >
    <tr>
      <th>item id</th>
      <th>item name</th>
      <th>seller name</th>
      <th>start tiem</th>
      <th>end time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.item_id}}</td>
      <td>{{data.item_name}}</td>
      <td>{{data.seller_name}}</td>
      <td>{{data.startime}}</td>
      <td>{{data.endtime}}</td>
    </tr>
  </tbody>
</nz-table>