<div *ngIf="item">
    <h3>{{item.item_name}}</h3>
    <p><b>Seller: </b> <a [routerLink]="['//manage/user-list/'+item.seller_name]">{{item.seller_name}}</a></p>
    <div>
        <nz-tag [nzColor]="'magenta'" *ngFor="let category of item.categories">{{category.category_name}}</nz-tag>
    </div>
    <p style="font-size: 80%">Description: {{item.description}}</p>
</div>

<app-bid-list *ngIf="item" 
    [bidsTotal]="item.bid_count"
    [itemId]="item.item_id"
    [type]="'item'"
    >
</app-bid-list>  